body {
  width: 100%;
  margin: auto;
}
li {
  text-decoration: none;
  list-style-type: none;
}
img {
  width: 300px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}

ul li {
  display: inline-block;
  margin: 8px;
}

.authors {
  margin: 0;
}

.authors li {
  margin: 0;
}

.authors {
  margin-left: 5px;
}

.octodex {
  width: 10%;
  display: flex;
}


.octodex img {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 3px;
}

.image-footer img {
  border-style: none;
  border-radius: 0px;
}

.image-footer {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 13px;
  border-bottom-style: solid;
  border-color: gray;
  border-width: 1px;
}

.image-footer ul {
  padding: 0;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid lightgray;
  margin: auto;
  float: right;
  position: relative;
  right: 4px;
  top: -4px;
}

.image-caption{
  display: flex;
  width: 100%;
  margin: 5px;
}

.image-caption a, span {
  margin: 2px;
}

.image-caption span {
  font-weight: bold;
  color: gray;
}

.image-caption {
  margin: 0;
  display: inline-flex;
  justify-content: flex-end;
  flex-direction: row;
}

.image-number{
  color: gray;
  position:static;
  font-weight: bold;
}

.image-footer img{
  width: 20px;
}
